@import url("https://fonts.cdnfonts.com/css/thegoodmonolith");

.gallery-slideshow {
  margin: 0;
  color: #fff;
  background-color: #000;
  font-family: "TheGoodMonolith", sans-serif;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
}

.gallery-slideshow .slides {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  place-items: center;
}

.gallery-slideshow .slide {
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / -1 / -1;
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
  will-change: transform, opacity;
}

.gallery-slideshow .slide--current {
  pointer-events: auto;
  opacity: 1;
}

.gallery-slideshow .slide__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  will-change: transform, opacity, filter;
}

/* ... Diğer paylaştığın tüm CSS kurallarını buraya ekleyebilirsin ... */
/* Çakışmaları önlemek için başına .gallery-slideshow eklemeyi unutma */

.gallery-slideshow .drag-line {
  width: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  height: 15px;
  transform-origin: bottom center;
}
