.carousel-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #111;
  background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1px,
      transparent 1px);
  background-size: 11px 11px;
  overflow: hidden;
  position: relative;
}

.carousel-container {
  width: 100%;
  height: 100%;
  perspective: 2500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-items {
  position: absolute;
  transform-style: preserve-3d;
}

.carousel-item {
  position: absolute;
  width: var(--card-width, 350px);
  height: var(--card-height, 490px);
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  cursor: grab;
}

.switch {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  background: rgba(34, 34, 34, 0.9);
  padding: 10px 25px;
  border-radius: 100px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.switch-button {
  background: none;
  border: none;
  color: #666;
  font-family: "Manrope", sans-serif;
  /* Projenin fontu */
  font-size: 11px;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s;
}

.switch-button-current {
  color: #fff;
}

.indicator-dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
  opacity: 0;
}

.switch-button-current .indicator-dot {
  opacity: 1;
}
